#!/bin/sh -e

# wait util network comes up
sleep 10

wget -q --no-check-certificate https://raw.githubusercontent.com/panticz/preseed/master/late_command.sh -O /tmp/late_command.sh && \
mv /etc/rc.local.org /etc/rc.local && \
bash /tmp/late_command.sh

exit 0
